@font-face {
	font-family: "KGHAPPY";
	src: url('fonts/KGHAPPY.ttf');
}
@font-face {
	font-family: "KGHAPPYbis";
	src: url('fonts/KGHAPPYSolid.ttf');
}
@font-face {
	font-family: "KGHAPPYter";
	src: url('fonts/KGHAPPYShadows.ttf');
}

/*Page d'accueil*/
body
{
	text-align:center;
}
#home
{
	font-size: 3em;
}
.button
{
 font-family:KGHAPPY;
 text-decoration:none;
 color:white;
 font-size: 1.5em;
}
.button:hover,.button:focus,.button:active {
	font-family:KGHAPPYbis;
	color:white;
}

/*Pages question*/
h1
{
	margin-top:15vh;
	font-size: 2em;
	font-family:KGHAPPY;
	font-weight:normal;
}
p{
	margin-top:3vh;
	margin-bottom:3vh;
	font-size: 1em;
	font-family:Verdana;
	font-weight:normal;
}
.answers{
	margin-left:25vw;
	margin-right:25vw;
	margin-top:5vh;
	list-style-type:none;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.answers li
{
 background-color:black;
 border-radius:8px;
 margin-top:1.5vh;
 margin-top:1.5vh;
 margin-right:1.5vw;
 margin-right:1.5vw;
 padding:2%;
}
/*Fiche tatoueur*/
.logo
{
width:30vw;
}
.grosseboite
{
width:90vw;
margin-left:5vw;
margin-right:5vw;
display: flex;
flex-wrap:wrap;
justify-content:center;
}
.visuels
{

}
img
{
width:20vw;
min-width:200px;
}

.dropdown{
}
.dropdown-content{
visibility:hidden;
}
.dropdown:hover .dropdown-content{
visibility: visible;
}

.seemore
{
clear:both;
}