img{
width:200px;
height:250px;
}
.ombree{
}
.dropdown{
position:relative;
width:200px;
}
.dropdown-content{
visibility:hidden;
position:absolute;
top:0px;
left:0px;
}
.dropdown:hover .dropdown-content{
visibility: visible;
}
.desc {
width:200px;
height:250px;
position:absolute;
top:0px;
left:0px;
background-color:black;
opacity:0.5;
}
.desc ul{
padding-left:0px;
position:relative;
top:50%;
}
.desc li{
list-style-type:none;
color:white;
font-size:12pt;
text-align:center;
}
.nom{
font-family:parisine;
font-weight:bold;
font-size:12pt;
}