h1
{
color: blue;
}

p
{
color:blue;
}
#hashtag
{
color: blue;
}

.grosseboite
{
background-color:blue;
text-align:center;
}

.visuels
{
background-color:red;
float:left;
text-align:center;
padding-left:1vw;
padding-right:1vw; 
}

img
{
height:50vh;
}


.seemore
{
clear:both;
}
