/*Page d'accueil*/
body
{
	text-align:center;
}
#home
{
	font-size: 3em;
}
.button
{
 color:#fff;
 text-shadow:none;
 text-decoration:none;
 -webkit-box-shadow:inset 0 -3px 0 rgba(0,0,0,0.1);
 -moz-box-shadow:inset 0 -3px 0 rgba(0,0,0,0.1);
 box-shadow:inset 0 -3px 0 rgba(0,0,0,0.1);
 background-image:none;
 background:#00a9f0;
 border:none;
 -webkit-transition:background-color 300ms ease;
 -moz-transition:background-color 300ms ease;
 -o-transition:background-color 300ms ease;
 transition:background-color 300ms ease;
 border-radius:8px;
 padding:1% 1% 1% 1%;
}
.button:hover,.button:focus,.button:active {
	background:#0099D8;
}
/*Pages question*/
h1
{
	font-size: 2em;
}
.answers{
	list-style-type:none;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}